[user]
	name = Parth Kalgaonkar
	email = parthkalgaonkar@gmail.com

[push]
	default = current

[pull]
	rebase = true

[merge]
	tool = vimdiff

[diff]
	tool = vimdiff

[color]
	ui = true

[core]
	autocrlf = input
	editor = vim
